body {
  background-color: lightgray;
  align-items: center;

}


.Stopwatch-header {
  font-size: x-large;
  align-items: center;
  color: blue;
  padding-left: 600px;
  

}

.Stopwatch-display{
  padding-left: 600px;
  border: solid blue;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-right: 20px;
  font-size: 50px;

 
}

#start {
  font-size: 50px;
}
